{% include "themes/neon_city.html" %}
{% include "themes/synthwave_grid.html" %}
{% include "themes/hologram.html" %}
{% include "themes/laser_rays.html" %}
{% include "themes/scanlines.html" %}
{% include "themes/bokeh.html" %}
{% include "themes/orbits.html" %}
{% include "themes/rain.html" %}
{% include "themes/circuits.html" %}
{% include "themes/hex.html" %}

{% include "themes/stars.html"   %}
{% include "themes/aurora.html"  %}
{% include "themes/waves.html"   %}
{% include "themes/grid.html"    %}
{% include "themes/matrix.html"  %}

{# остальные темы можно добавить ниже по мере готовности #}
